<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">

        </div>
        <div class="row">
            <div class="col-8">
                <h3 class="title">Theme</h3>
            </div>
            <div class="col-4">
                <div class="ccc">
                    <a [routerLink]="['/addTheme']" class="fa fa-plus btn btn-success btncree"
                        style="float:right">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                            aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Nom</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let theme of themes">
                                    <td>{{theme.id}}</td>
                                    <td>{{theme.name}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Option
                                                <i class="fas fa-angle-down"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="showTheme(theme)"><i
                                                        class="fal fa-eye"></i> Voir</a>
                                                <a class="dropdown-item" (click)="editTheme(theme)"><i
                                                        class="fal fa-pen"></i> Editer</a>
                                                <a href="#" (click)="deleteTheme(theme)"
                                                    class="far fa-trash-alt dropdown-item"> Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>