<div class="row" id="body-row">
    <div class="col-md-auto">
        <app-left-menu></app-left-menu>
    </div>

    <div class="col">
        <form [formGroup]="platForm" (ngSubmit)="onSubmitForm()" class="justify-content-center">
            <div hidden class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    id
                </label>
                <div class="col-sm-4">
                    <div class="hidden">
                        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Nom
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="nom" formControlName="nom" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Image
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="image" formControlName="image"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Risque
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="image" formControlName="risque"
                        autocomplete="off">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Cal
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="cal" formControlName="cal" autocomplete="off">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    description
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="description" formControlName="description"
                        autocomplete="off">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    prestataire
                </label>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select [(ngModel)]="prestatair" [ngModelOptions]="{standalone: true}">
                            <option value="">Choose your prestataire</option>
                            <option *ngFor="let prestataire of prestataires">
                                {{prestataire.nom}}
                            </option>

                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
</div>