<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fa fa-plus-circle"></i> Ajouter plat</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="platForm" (ngSubmit)="onSubmit()" id="PlatAddForm">
                            <div style="display:none;"><input type="hidden" /></div>
                            <div class="input select"><label for="PlatTypePlatId">Catégorie de plat </label>
                                <select *ngFor="let typePlat of typePlats" class="form-control" id="PlatTypePlatId">
                                    <option value="1">{{typePlat.nom}}</option>
                                </select></div>
                            <div class="input select"><label for="PlatGammeId">Gamme du plat </label>
                                <select *ngFor="let gamme of gammes" class="form-control" id="PlatGammeId">
                                    <option value="3">{{gamme.nom}}</option>
                                </select>
                            </div>
                            <div class="input select"><label for="PlatPrestataireId">Prestataire</label>
                                <select *ngFor="let prsetataire of prestataires" class="form-control"
                                    id="PlatPrestataireId">
                                    <option value="1">{{prsetataire.nom}}</option>
                                </select>
                            </div>
                            <div class="input text" formControlName="nom">
                                <label for="PlatName">Nom du plat</label>
                                <input class="form-control" maxlength="255" type="text" id="PlatName" />
                            </div>
                            <div class="input text" formControlName="calorie">
                                <label for="PlatCalorie">Calorie</label>
                                <input class="form-control" maxlength="255" type="text" id="PlatCalorie" /></div>
                            <div class="input textarea" formControlName="ingredient">
                                <label for="PlatIngredients">Ingredients</label><textarea class="form-control" cols="30"
                                    rows="6" id="PlatIngredients">
                                </textarea>
                            </div>
                            <input type="file" class="form-control far fa-cloud-upload-alt" id="PlatImage" />
                            <hr>
                            <div *ngFor="let allergene of allergenes" class='allergenes'>Liste des allergenes.<br />
                                <input type="hidden" value="" id="PlatAllergene" />
                                <div class="checkbox">
                                    <input type="checkbox" value="1" id="PlatAllergene1" />
                                    <label for="PlatAllergene1">{{allergene.nom}}</label>
                                </div>
                            </div>
                            <hr>
                            <div class='nutritive'>Valeur nutritive .<br />
                                <input type="hidden" value="1" id="PlatNutrition0Id" />
                                <div class="input text"><label for="PlatNutrition0Value">Proteine</label>
                                    <input class="form-control" type="text" id="PlatNutrition0Value" /></div>
                                <select id="PlatNutrition0Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select><input type="hidden" value="2" id="PlatNutrition1Id" />
                                <div class="input text"><label for="PlatNutrition1Value">Vitamine</label><input
                                        class="form-control" type="text" id="PlatNutrition1Value" /></div><select
                                    id="PlatNutrition1Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select><input type="hidden" value="3" id="PlatNutrition2Id" />
                                <div class="input text"><label for="PlatNutrition2Value">Zinc</label><input
                                        class="form-control" type="text" id="PlatNutrition2Value" /></div><select
                                    id="PlatNutrition2Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select><input type="hidden" value="4" id="PlatNutrition3Id" />
                                <div class="input text"><label for="PlatNutrition3Value">Fibre</label><input
                                        class="form-control" type="text" id="PlatNutrition3Value" /></div><select
                                    id="PlatNutrition3Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select><input type="hidden" value="5" id="PlatNutrition4Id" />
                                <div class="input text"><label for="PlatNutrition4Value">Glucides</label><input
                                        class="form-control" type="text" id="PlatNutrition4Value" /></div><select
                                    id="PlatNutrition4Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select><input type="hidden" value="6" id="PlatNutrition5Id" />
                                <div class="input text"><label for="PlatNutrition5Value">Lipides </label><input
                                        class="form-control" type="text" id="PlatNutrition5Value" /></div><select
                                    id="PlatNutrition5Portion">
                                    <option value="1">1 paquet</option>
                                    <option value="2">100 g</option>
                                    <option value="3">2 g</option>
                                </select>

                            </div>
                            <div class="box-footer">
                                <div class="text-center">
                                    <a class="btn btn-info" href="../plats/index.html" type="submit">Sauvegarder</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>