<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">

        </div>
        <div class="row">
            <div class="maincontent">
                <div class="ccc">
                    Plats
                    <label for="pre"></label>
                    <select (change)="selectPrestataire($event)" class="choix" id="pre">
                        <option>--Par Prestataire--</option>
                        <option *ngFor="let prestataire of prestataires">{{prestataire.name}}</option>
                    </select>

                    <label for="resto">
                    </label>
                    <select (change)="selectTypePlat($event)" class="choix" id="stat">
                        <option>--Par Catégorie--</option>
                        <option *ngFor="let typePlat of typePlats">{{typePlat.name}}</option>
                    </select>
                    <div [routerLink]="['/addPlat']" class="fa fa-plus btn btn-success btncree"
                        style="margin-top: 6px;margin-left: 600px;float:right">Ajouter</div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                            aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Catégorie</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Gamme</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Prestataire</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Nom</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Calorie</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Etat</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Image</th>

                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let plat of plats">
                                    <td>{{plat.categorie}}</td>
                                    <td>{{plat.gamme}}</td>
                                    <td>{{plat.prestataire.nom}}</td>
                                    <td>{{plat.nom}}</td>
                                    <td>{{plat.calorie}}</td>
                                    <td>{{plat.etat}} </td>
                                    <td>{{plat.image}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Option
                                                <i class="fas fa-angle-down"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="showPlat(plat)"><i
                                                        class="fal fa-eye"></i> Voir</a>
                                                <a class="dropdown-item" (click)="editPlat(plat)"><i
                                                        class="fal fa-pen"></i> Editer</a>
                                                <a class="dropdown-item" href="../plats/archiver"><i
                                                        class="fa fa-file"></i> Archiver</a>
                                                <form action="../plats/delete/4" name="post_5f5a0f94d7e6b985546280"
                                                    id="post_5f5a0f94d7e6b985546280" style="display:none;"
                                                    method="post"><input type="hidden" name="_method" value="POST" />
                                                </form><a href="#" (click)="deletePlat(plat)"
                                                    class="far fa-trash-alt dropdown-item"> Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>