.ccc
{
  font-weight: 900;
  font-size: 20px;
  color:#5a6268
}
.choix
{
  width: 144px;
  background: #5a6268;
  color: white;
  border: none;
  padding: 3px;
  font-size:15px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 17px;
}
.date{
    display: inline;
    margin-left: 10px;
    padding-left:7px;
    border:1px solid #EEE !important;
  }
  .choix {
    width: 169px;
    padding: 5px;
}
div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_filter {
    text-align: right;
}

div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_paginate ul.dataTables_paginate {
    margin: 2px 0;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper > div.row > div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
        text-align: center;
    }

    div.DTTT {
        margin-bottom: 0.5em;
    }
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    /* sort */
}

table.dataTable thead .sorting_asc:after {
    content: "\e155";
    /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
    content: "\e156";
    /* sort-by-attributes-alt */
}

div.dataTables_scrollBody table.dataTable thead .sorting:after, div.dataTables_scrollBody table.dataTable thead .sorting_asc:after, div.dataTables_scrollBody table.dataTable thead .sorting_desc:after {
    display: none;
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
}

table.dataTable thead > tr > th {
    padding-right: 30px;
}

table.dataTable th:active {
    outline: none;
}

/* Condensed */
table.dataTable.table-condensed thead > tr > th {
    padding-right: 20px;
}

table.dataTable.table-condensed thead .sorting:after, table.dataTable.table-condensed thead .sorting_asc:after, table.dataTable.table-condensed thead .sorting_desc:after {
    top: 6px;
    right: 6px;
}

/* Scrolling */
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child, div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th, div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
}

/* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
 */
table.table-bordered.dataTable {
    border-collapse: separate !important;
}

table.table-bordered thead th, table.table-bordered thead td {
    border-left-width: 0;
    border-top-width: 0;
}

table.table-bordered tbody th, table.table-bordered tbody td {
    border-left-width: 0;
    border-bottom-width: 0;
}

table.table-bordered tfoot th, table.table-bordered tfoot td {
    border-left-width: 0;
    border-bottom-width: 0;
}

table.table-bordered th:last-child, table.table-bordered td:last-child {
    border-right-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
}

/*
 * TableTools styles
 */
.table.dataTable tbody tr.active td, .table.dataTable tbody tr.active th {
    background-color: #f05543;
    color: white;
}

.table.dataTable tbody tr.active:hover td, .table.dataTable tbody tr.active:hover th {
    background-color: #f05543 !important;
}

.table.dataTable tbody tr.active th > a, .table.dataTable tbody tr.active td > a {
    color: white;
}

.table-striped.dataTable tbody tr.active:nth-child(odd) td, .table-striped.dataTable tbody tr.active:nth-child(odd) th {
    background-color: #f05543;
}

table.DTTT_selectable tbody tr {
    cursor: pointer;
}

div.DTTT .btn:hover {
    text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu {
    z-index: 2003;
}

ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important;
    /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li {
    position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #f05543;
    color: white !important;
}

div.DTTT_collection_background {
    z-index: 2002;
}

/* TableTools information display */
div.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    opacity: 0.95;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}

/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table, div.DTFC_LeftFootWrapper table, div.DTFC_RightHeadWrapper table, div.DTFC_RightFootWrapper table, table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}

div.DTFC_RightHeadWrapper table , div.DTFC_LeftHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child, div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child, div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child, div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table, div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}

div.DTFC_RightBodyWrapper tbody tr:first-child th, div.DTFC_RightBodyWrapper tbody tr:first-child td, div.DTFC_LeftBodyWrapper tbody tr:first-child th, div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}

div.DTFC_RightFootWrapper table, div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
}

div.DTFC_LeftBodyWrapper table.dataTable thead .sorting:after, div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_asc:after, div.DTFC_LeftBodyWrapper table.dataTable thead .sorting_desc:after, div.DTFC_RightBodyWrapper table.dataTable thead .sorting:after, div.DTFC_RightBodyWrapper table.dataTable thead .sorting_asc:after, div.DTFC_RightBodyWrapper table.dataTable thead .sorting_desc:after {
    display: none;
}

/*
 * FixedHeader styles
 */
div.FixedHeader_Cloned table {
    margin: 0 !important
}

.dataTables_paginate>.disabled, .dataTables_paginate>.disabled:focus, .dataTables_paginate>.disabled:hover, .dataTables_paginate>span>.disable, .dataTables_paginate>span>.disabled:focus, .dataTables_paginate>span>.disabled:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.dataTables_paginate>a:focus, .dataTables_paginate>a:hover, .dataTables_paginate>span>a:focus, .dataTables_paginate>span>a:hover, .dataTables_paginate>span>.ellipsis:focus, .dataTables_paginate>span>.ellipsis:hover {
    z-index: 2;
    color: #f05543;
    background-color: #eee;
    border-color: #ddd;
}

.dataTables_paginate>a:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dataTables_paginate>span>a, .dataTables_paginate>a {
    background: #fafafa;
    color: #666;
}

.dataTables_paginate>a, .dataTables_paginate>span>a , .dataTables_paginate>span>.ellipsis {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #f05543;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.dataTables_paginate {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    float: right;
}

.dataTables_paginate>a>.current, .dataTables_paginate>a>.current:focus, .dataTables_paginate>a>.current:hover, .dataTables_paginate>span>.current, .dataTables_paginate>span>.current:focus, .dataTables_paginate>span>.current:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f05543;
    border-color: #f05543;
}

.dataTables_paginate>a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

 .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: 0.75s;
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }
  
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  .flash {
    animation-name: flash;
  }
  
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
  }
  
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    animation-name: rubberBand;
  }
  
  @keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shake {
    animation-name: shake;
  }
  
  @keyframes headShake {
    0% {
      transform: translateX(0);
    }
  
    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }
  
    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }
  
    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }
  
    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }
  
    50% {
      transform: translateX(0);
    }
  }
  
  .headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
  }
  
  @keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .swing {
    transform-origin: top center;
    animation-name: swing;
  }
  
  @keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .tada {
    animation-name: tada;
  }
  
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @keyframes wobble {
    from {
      transform: none;
    }
  
    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
  
    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
  
    to {
      transform: none;
    }
  }
  
  .wobble {
    animation-name: wobble;
  }
  
  @keyframes jello {
    from,
    11.1%,
    to {
      transform: none;
    }
  
    22.2% {
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  
  .jello {
    animation-name: jello;
    transform-origin: center;
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    animation-name: bounceIn;
  }
  
  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInDown {
    animation-name: bounceInDown;
  }
  
  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInLeft {
    animation-name: bounceInLeft;
  }
  
  @keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInRight {
    animation-name: bounceInRight;
  }
  
  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    animation-name: bounceInUp;
  }
  
  @keyframes bounceOut {
    20% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    50%,
    55% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  }
  
  .bounceOut {
    animation-name: bounceOut;
  }
  
  @keyframes bounceOutDown {
    20% {
      transform: translate3d(0, 10px, 0);
    }
  
    40%,
    45% {
      opacity: 1;
      transform: translate3d(0, -20px, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
  }
  
  .bounceOutDown {
    animation-name: bounceOutDown;
  }
  
  @keyframes bounceOutLeft {
    20% {
      opacity: 1;
      transform: translate3d(20px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  }
  
  .bounceOutLeft {
    animation-name: bounceOutLeft;
  }
  
  @keyframes bounceOutRight {
    20% {
      opacity: 1;
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
  }
  
  .bounceOutRight {
    animation-name: bounceOutRight;
  }
  
  @keyframes bounceOutUp {
    20% {
      transform: translate3d(0, -10px, 0);
    }
  
    40%,
    45% {
      opacity: 1;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  }
  
  .bounceOutUp {
    animation-name: bounceOutUp;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  
  @keyframes fadeInDownBig {
    from {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDownBig {
    animation-name: fadeInDownBig;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  @keyframes fadeInLeftBig {
    from {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInLeftBig {
    animation-name: fadeInLeftBig;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }
  
  @keyframes fadeInRightBig {
    from {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRightBig {
    animation-name: fadeInRightBig;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUpBig {
    animation-name: fadeInUpBig;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    animation-name: fadeOut;
  }
  
  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .fadeOutDown {
    animation-name: fadeOutDown;
  }
  
  @keyframes fadeOutDownBig {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
  }
  
  .fadeOutDownBig {
    animation-name: fadeOutDownBig;
  }
  
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .fadeOutLeft {
    animation-name: fadeOutLeft;
  }
  
  @keyframes fadeOutLeftBig {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  }
  
  .fadeOutLeftBig {
    animation-name: fadeOutLeftBig;
  }
  
  @keyframes fadeOutRight {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .fadeOutRight {
    animation-name: fadeOutRight;
  }
  
  @keyframes fadeOutRightBig {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
  }
  
  .fadeOutRightBig {
    animation-name: fadeOutRightBig;
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .fadeOutUp {
    animation-name: fadeOutUp;
  }
  
  @keyframes fadeOutUpBig {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  }
  
  .fadeOutUpBig {
    animation-name: fadeOutUpBig;
  }
  
  @keyframes flip {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }
  
    40% {
      transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }
  
    50% {
      transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }
  
    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
      animation-timing-function: ease-in;
    }
  
    to {
      transform: perspective(400px);
      animation-timing-function: ease-in;
    }
  }
  
  .animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip;
  }
  
  @keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  .flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
  }
  
  @keyframes flipInY {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  
  .flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInY;
  }
  
  @keyframes flipOutX {
    from {
      transform: perspective(400px);
    }
  
    30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1;
    }
  
    to {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0;
    }
  }
  
  .flipOutX {
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
  
  @keyframes flipOutY {
    from {
      transform: perspective(400px);
    }
  
    30% {
      transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
      opacity: 1;
    }
  
    to {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      opacity: 0;
    }
  }
  
  .flipOutY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipOutY;
  }
  
  @keyframes lightSpeedIn {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      transform: skewX(-5deg);
      opacity: 1;
    }
  
    to {
      transform: none;
      opacity: 1;
    }
  }
  
  .lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
  }
  
  @keyframes lightSpeedOut {
    from {
      opacity: 1;
    }
  
    to {
      transform: translate3d(100%, 0, 0) skewX(30deg);
      opacity: 0;
    }
  }
  
  .lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
  }
  
  @keyframes rotateIn {
    from {
      transform-origin: center;
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 0;
    }
  
    to {
      transform-origin: center;
      transform: none;
      opacity: 1;
    }
  }
  
  .rotateIn {
    animation-name: rotateIn;
  }
  
  @keyframes rotateInDownLeft {
    from {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, -45deg);
      opacity: 0;
    }
  
    to {
      transform-origin: left bottom;
      transform: none;
      opacity: 1;
    }
  }
  
  .rotateInDownLeft {
    animation-name: rotateInDownLeft;
  }
  
  @keyframes rotateInDownRight {
    from {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
    }
  
    to {
      transform-origin: right bottom;
      transform: none;
      opacity: 1;
    }
  }
  
  .rotateInDownRight {
    animation-name: rotateInDownRight;
  }
  
  @keyframes rotateInUpLeft {
    from {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
    }
  
    to {
      transform-origin: left bottom;
      transform: none;
      opacity: 1;
    }
  }
  
  .rotateInUpLeft {
    animation-name: rotateInUpLeft;
  }
  
  @keyframes rotateInUpRight {
    from {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, -90deg);
      opacity: 0;
    }
  
    to {
      transform-origin: right bottom;
      transform: none;
      opacity: 1;
    }
  }
  
  .rotateInUpRight {
    animation-name: rotateInUpRight;
  }
  
  @keyframes rotateOut {
    from {
      transform-origin: center;
      opacity: 1;
    }
  
    to {
      transform-origin: center;
      transform: rotate3d(0, 0, 1, 200deg);
      opacity: 0;
    }
  }
  
  .rotateOut {
    animation-name: rotateOut;
  }
  
  @keyframes rotateOutDownLeft {
    from {
      transform-origin: left bottom;
      opacity: 1;
    }
  
    to {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
    }
  }
  
  .rotateOutDownLeft {
    animation-name: rotateOutDownLeft;
  }
  
  @keyframes rotateOutDownRight {
    from {
      transform-origin: right bottom;
      opacity: 1;
    }
  
    to {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, -45deg);
      opacity: 0;
    }
  }
  
  .rotateOutDownRight {
    animation-name: rotateOutDownRight;
  }
  
  @keyframes rotateOutUpLeft {
    from {
      transform-origin: left bottom;
      opacity: 1;
    }
  
    to {
      transform-origin: left bottom;
      transform: rotate3d(0, 0, 1, -45deg);
      opacity: 0;
    }
  }
  
  .rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
  }
  
  @keyframes rotateOutUpRight {
    from {
      transform-origin: right bottom;
      opacity: 1;
    }
  
    to {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 0;
    }
  }
  
  .rotateOutUpRight {
    animation-name: rotateOutUpRight;
  }
  
  @keyframes hinge {
    0% {
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
  
    20%,
    60% {
      transform: rotate3d(0, 0, 1, 80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
  
    40%,
    80% {
      transform: rotate3d(0, 0, 1, 60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
  
    to {
      transform: translate3d(0, 700px, 0);
      opacity: 0;
    }
  }
  
  .hinge {
    animation-name: hinge;
  }
  
  @keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }
  
    50% {
      transform: rotate(-10deg);
    }
  
    70% {
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .jackInTheBox {
    animation-name: jackInTheBox;
  }
  
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .rollIn {
    animation-name: rollIn;
  }
  
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
  
  .rollOut {
    animation-name: rollOut;
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
  
  @keyframes zoomInDown {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomInDown {
    animation-name: zoomInDown;
  }
  
  @keyframes zoomInLeft {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomInLeft {
    animation-name: zoomInLeft;
  }
  
  @keyframes zoomInRight {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomInRight {
    animation-name: zoomInRight;
  }
  
  @keyframes zoomInUp {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomInUp {
    animation-name: zoomInUp;
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    animation-name: zoomOut;
  }
  
  @keyframes zoomOutDown {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomOutDown {
    animation-name: zoomOutDown;
  }
  
  @keyframes zoomOutLeft {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: scale(0.1) translate3d(-2000px, 0, 0);
      transform-origin: left center;
    }
  }
  
  .zoomOutLeft {
    animation-name: zoomOutLeft;
  }
  
  @keyframes zoomOutRight {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: scale(0.1) translate3d(2000px, 0, 0);
      transform-origin: right center;
    }
  }
  
  .zoomOutRight {
    animation-name: zoomOutRight;
  }
  
  @keyframes zoomOutUp {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  
  .zoomOutUp {
    animation-name: zoomOutUp;
  }
  
  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }
  
  @keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    animation-name: slideInRight;
  }
  
  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    animation-name: slideInUp;
  }
  
  @keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .slideOutDown {
    animation-name: slideOutDown;
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .slideOutLeft {
    animation-name: slideOutLeft;
  }
  
  @keyframes slideOutRight {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .slideOutRight {
    animation-name: slideOutRight;
  }
  
  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .slideOutUp {
    animation-name: slideOutUp;
  }
  .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
  }
  .select2-container[dir="rtl"]
    .select2-selection--single
    .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
  }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .select2-container .select2-search--inline {
    float: left;
  }
  .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
  }
  .select2-container
    .select2-search--inline
    .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
  }
  .select2-results {
    display: block;
  }
  .select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
  }
  .select2-results__option[aria-selected] {
    cursor: pointer;
  }
  .select2-container--open .select2-dropdown {
    left: 0;
  }
  .select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .select2-search--dropdown {
    display: block;
    padding: 4px;
  }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .select2-search--dropdown.select2-search--hide {
    display: none;
  }
  .select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
  }
  .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #444;
    line-height: 28px;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: #999;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
  }
  .select2-container--default[dir="rtl"]
    .select2-selection--single
    .select2-selection__clear {
    float: left;
  }
  .select2-container--default[dir="rtl"]
    .select2-selection--single
    .select2-selection__arrow {
    left: 1px;
    right: auto;
  }
  .select2-container--default.select2-container--disabled
    .select2-selection--single {
    background-color: #eee;
    cursor: default;
  }
  .select2-container--default.select2-container--disabled
    .select2-selection--single
    .select2-selection__clear {
    display: none;
  }
  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    list-style: none;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    color: #333;
  }
  .select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice,
  .select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__placeholder,
  .select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-search--inline {
    float: right;
  }
  .select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
  }
  .select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
  }
  .select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
  }
  .select2-container--default.select2-container--disabled
    .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
  }
  .select2-container--default.select2-container--disabled
    .select2-selection__choice__remove {
    display: none;
  }
  .select2-container--default.select2-container--open.select2-container--above
    .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--above
    .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
  }
  .select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
  }
  .select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }
  .select2-container--default .select2-results__option[role="group"] {
    padding: 0;
  }
  .select2-container--default .select2-results__option[aria-disabled="true"] {
    color: #999;
  }
  .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #ddd;
  }
  .select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__group {
    padding-left: 0;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
  }
  .select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
  }
  .select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
  }
  .select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
  .select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
  }
  .select2-container--classic
    .select2-selection--single
    .select2-selection__rendered {
    color: #444;
    line-height: 28px;
  }
  .select2-container--classic
    .select2-selection--single
    .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
  }
  .select2-container--classic
    .select2-selection--single
    .select2-selection__placeholder {
    color: #999;
  }
  .select2-container--classic
    .select2-selection--single
    .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
  }
  .select2-container--classic
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
  }
  .select2-container--classic[dir="rtl"]
    .select2-selection--single
    .select2-selection__clear {
    float: left;
  }
  .select2-container--classic[dir="rtl"]
    .select2-selection--single
    .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
  }
  .select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
  }
  .select2-container--classic.select2-container--open
    .select2-selection--single
    .select2-selection__arrow {
    background: transparent;
    border: none;
  }
  .select2-container--classic.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
  }
  .select2-container--classic.select2-container--open.select2-container--above
    .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  }
  .select2-container--classic.select2-container--open.select2-container--below
    .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
  }
  .select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
  }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
  }
  .select2-container--classic
    .select2-selection--multiple
    .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
  }
  .select2-container--classic
    .select2-selection--multiple
    .select2-selection__clear {
    display: none;
  }
  .select2-container--classic
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }
  .select2-container--classic
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
  }
  .select2-container--classic
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    color: #555;
  }
  .select2-container--classic[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice {
    float: right;
  }
  .select2-container--classic[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
  }
  .select2-container--classic[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
  }
  .select2-container--classic.select2-container--open
    .select2-selection--multiple {
    border: 1px solid #5897fb;
  }
  .select2-container--classic.select2-container--open.select2-container--above
    .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .select2-container--classic.select2-container--open.select2-container--below
    .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
  }
  .select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
  }
  .select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
  }
  .select2-container--classic .select2-dropdown--above {
    border-bottom: none;
  }
  .select2-container--classic .select2-dropdown--below {
    border-top: none;
  }
  .select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }
  .select2-container--classic .select2-results__option[role="group"] {
    padding: 0;
  }
  .select2-container--classic .select2-results__option[aria-disabled="true"] {
    color: grey;
  }
  .select2-container--classic
    .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff;
  }
  .select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
  .select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
  }
  /* start style amine */
  html,
  body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
  }
  
  body {
    padding-top: 25px;
  }
  main{
    margin:0 !important;
    padding: 0 !important;
  }
  a{
    color:#47525e;
  }
  
  @media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  
  .text-white-50 { color: rgba(255, 255, 255, .5); }
  
  .bg-purple { background-color: #6f42c1; }
  
  .lh-100 { line-height: 1; }
  .lh-125 { line-height: 1.25; }
  .lh-150 { line-height: 1.5; }
  /*************************debut modif*****************************/
  .container, .container-lg, .container-md, .container-sm, .container-xl {  max-width: 1474px;}
  .clearer{ clear: both;}
  .page-wrapper{   border:2px solid #E2E2E2;  background-color: #F1F3F6;  display: flex;  margin: 0 0 30px 0;}
  .page-wrapper .sidebar{  width:325px;  background-color: #FFFFFF;  margin: 0;  padding: 0px 0px 10px 0;  }
  .page-wrapper .sidebar .logo{background-color: #fa3805;min-height: 189px; margin:0 0 0 0;}
  .page-wrapper .sidebar .logo a{  background-image: url("../../../../assets/logo.png");  background-repeat: no-repeat;  background-position: center;  width: 100%;  height: 100%;  display: block;}
  .page-wrapper .sidebar .menu{}
  .page-wrapper .sidebar .menu ul{ margin: 0;  padding: 0; }
  .page-wrapper .sidebar .menu ul li{ list-style: none;    border-bottom: 1px solid #e4e4e4;}
  .page-wrapper .sidebar .menu ul li a{ 
    padding: 20px 5px 22px 27px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 18px;
  } 
  .page-wrapper .sidebar .menu ul li a:hover{ color: #fa3805; text-decoration: none; background: #F1F3F6;}
  .page-wrapper .sidebar .menu ul li a.active{ color: #fa3805;}
  .page-wrapper .sidebar .menu ul ul{
    background-color: #fafbfc;
  }
  .page-wrapper .sidebar .menu ul li ul li{ border-bottom: 0;}
  .page-wrapper .sidebar .menu ul li ul li a{ font-weight: bold;  font-size: 15px;  padding: 11px 5px 12px 45px;}
  .page-wrapper .content{  flex: auto;}
  .page-wrapper .content .header{  background-color: #FFFFFF;  height: 77px;}
  .page-wrapper .content .header .headerright a{ 
    color: #656363;
    font-weight: bold;
    margin: 0px;
    flex: auto;
    position: relative;
    padding: 8px 54px 0 15px;
  }
  .page-wrapper .content .header .headerright{  float: right; padding: 18px; display: flex;}
  .page-wrapper .content .header .headerright .avatar{ vertical-align: middle;  width: 40px;  height: 40px;  border-radius: 50%;  flex: auto; margin: 2px 0 0 64px;}
  .page-wrapper .content .header .headerright .notification {
    color: #47525e;
    text-decoration: none;
    padding: 0px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    font-size: 35px;
    margin: -9px 0px 0 0;
  }
  
  .page-wrapper .content .header .headerright .notification:hover {
    color: #fa3805;
  }
  
  .page-wrapper .content .header .headerright .notification .badge {
    position: absolute;
    top: 14px;
    right: -2px;
    padding: 4px 6px;
    border-radius: 50%;
    background: #fa3805;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  .page-wrapper .content .maincontent{  padding: 20px;}
  .page-wrapper .header .dropdown-toggle::after{
    position: absolute;
    right: 17px;
    top: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  .page-wrapper .dropdown-toggle::after,
  .page-wrapper .sidebar .dropdown-toggle::before {
    font-family: "Font Awesome 5 Free";
    border: 0;
  }
  .page-wrapper .sidebar .dropdown-toggle::before {
    display: inline-block;
    padding-right: 3px;
    font-weight: 900;
    margin: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
  }
  .page-wrapper .dropdown-toggle[aria-expanded="true"]::after,
  .page-wrapper .sidebar .dropdown-toggle[aria-expanded="true"]::after {
  }
  
  .page-wrapper .maincontent .dropdown-toggle::after{
    position: absolute;
    top: 2px;
    right: 11px;
    font-size: 18px;
  }
  .page-wrapper .maincontent .dropdown-toggle{
    padding: 6px 53px 10px 9px;
    font-size: 13px;
    font-weight: bold;
  }
  /* end style amine */
  body{
      margin: 0;
      padding: 0;
  }
  .box a{
      color: white;
      text-decoration:none;
  }
  .box a:hover
  {
      color: white;
      text-decoration:none;
  }
  .form-control{
    border: 1px solid #f1f3f6 !important;
  }
  .card
  {
    border-radius:8px
  }
  .card-header
  {
      background: #fa3805;
      color: white;
      padding: 7px 5px 0 5px !important;
      margin: 0;
      text-align: center;
      border-radius:8px;
  }
  .card-body form{
  padding: 27px;
  }
  #example1{
      width: 100%;
  }
  #example1_filter label{
      float: right;
      margin-bottom: 16px;
      padding: 10px;
  }
  #example1_filter input{
      padding:6px
  }
  .text-center
  {
      text-align: center;
  }
  .text-center input
  {
     padding: 10px;
     color: white;
  }
  .fc-content
  {
      background: #3c8dbc !important ;
      color: white !important;
      font-size: 15px !important;
      border-radius:5px;
      padding:5px;
  }
  #restau,#restaumenu,#prest{
      padding: 6px 49px;
    
  }
  .box .btn{
     padding: 7px;
  }
  .actions{
      text-align: center;
  }
  .box-footer
  {
      padding: 0 !important;
  }
  .text-center{
      padding: 10px !important;
  }
  .lien{
      color: black !important;
  }
  .lien:hover{
      color: black !important;
  }
  .modal-header {
      background-color: #fa3805;
      color: white;
      text-align: center;
  }
  .modal-body{
      font-size: 21px;
  }
  .related,.box-body img{
      width:200px
  }
  .card-info
  {
      font-size: 18px;
  }
  .select select{
    background: #5a6268;
    color: white;
    border: none;
    padding: 3px;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .btncree
  {
    background: #fa3805 !important;
    margin-top:-35px;
    margin-bottom: 15px;
    border:none;
    text-align: center;
    padding-left: 30px;
    padding-right: 25px;
  }
  .fa-plus:before {
   font-size: 13px;
  right: 135px;
  line-height: 1.5;
  }
  .btnencour{
    background: #fa3805 !important;
    border:none
  }


  .allergenes
  {
    border: 1px solid rgba(0,0,0,.1);
      padding: 15px;
      border-radius: 8px;
  }
  .nutritive
  {
    border: 1px solid rgba(0,0,0,.1);
      padding: 15px;
      border-radius: 8px;
  }
  .nutritive select{
    width: 150px;
    background: #5a6268;
    color: white;
    border: none;
    padding: 3px;
    font-size:15px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-left: 17px;
    
  }
  .nutritive input{
    width: 69%;
  }
  /* .nutritive div{
    display: inline;
  } */
  .nutritive select{
    float: right;
    margin-top: -35px;
  }
  #user table thead tr th{
      padding-top: 13px !important;
      padding-bottom: 20px !important;
      padding-right: 20px !important;
  }
  /* tabl */
  #user table{
    border: 1px solid #f1f3f6;
    border-radius: 7px;
    height: 20px;
  }
  #user table thead{
    background: #f1f3f6;
  }
  #example1{
    border:none
  }
  #example1_filter input {
    border:1px solid #dbdde0 !important;
    width:250px
  }
  #example1_filter label {
    float: left;
    margin-bottom: 16px;
    padding: 10px;
  }
  #example1 tbody tr td {
    border: solid 1px transparent;
    border-top: 1px solid #e0e0e0;
    border-style: solid none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #example1 thead tr th {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #example1 tbody tr{
    background: white;
  }
  #example1 thead tr {
   background: #f7f9fc;
  }
  .fa-angle-down:before {
    left: 148px;
    position: absolute;
    top: 6px;
    font-size: 30px;
  }
  .dropdown-toggle[aria-expanded="true"] .fa-angle-down:before{
    content: "\f106";
  }
  .btn-group .fa-angle-down:before {
    left: 81px;
    position: absolute;
    top: 3px;
    font-size: 24px;
  }
  .components .fa-angle-down:before{
    top: 20px
  }
  .out{
    padding-bottom: 6px;
  }
  .out:hover{
    background: transparent !important;
  }
  #PlatImage,#RestaurantImage
  {
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .fa-cloud-upload-alt:before {
    position: absolute;
    left: 91%;
    top: 41%;
  }
  .allergenes .checkbox{
    display: flex;
    margin-bottom: 14px;
  }
  .allergenes .checkbox label{
    margin: -6px 25px;
  }
  .modal-body i{
    
    color: #fa3805;
  }
  .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: white !important;
  }
  .modal-info .modal-footer {
    background-color: white !important;
    border-color:rgba(0,0,0,0.2);
  }
  .modal-body p
  {
    color: black;
  }
  .modal-dialog.modal-notify .heading {
    padding: .3rem;
    margin: 0;
    font-size: 1.15rem;
    color: #fff;
  }
  .growl.growl-success {
    color: #FFF;
    background: #fa3805;
    padding: 15px;
    width: 300px;
    border-radius: 14px;
  }
  .growl .growl-close {
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    font-family: helvetica, verdana, sans-serif; }
  .growl .growl-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }
  .growl .growl-message {
    font-size: 13px;
    line-height: 18px; }
    .editimg {
      position: relative;
      width: 100%;
      max-width: 400px;
    } 
    .editimg img {
      width: 100%;
      height: auto;
    }
    .editimg .btn {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color:transparent;
      color: white;
      font-size: 16px;
      padding: 5px 5px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    .editimg .btn:hover {
      background-color: red;
    }
   .user .widget-user-2 .widget-user-header {
      padding: 20px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
  }
  .user .box-widget {
    border: none;
    position: relative;
  }
  .user .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
      background-color: #f39c12 !important;
  }
  .user .bg-yellow
  {
      color: #fff !important;
  }
  .user .widget-user-2 .widget-user-image>img {
      width: 65px;
      height: auto;
      float: left;
  }
  .user .img-circle {
      border-radius: 50%;
  }
  .user .widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
      margin-left: 75px;
  }
  
  .user .widget-user-2 .widget-user-username {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 300;
  }
  .user .widget-user-2 .widget-user-desc {
      margin-top: 0;
  }
  .user .no-padding {
      padding: 0 !important;
  }
  .user .box-footer {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top: 1px solid #f4f4f4;
      padding: 10px;
      background-color: #fff;
  }
  .user footer:before, .box-header:after, .box-body:after, .box-footer:after {
      content: " ";
      display: table;
  }
  .user .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: block;
  }
  .user .box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
      content: " ";
      display: table;
  }
  .user .nav:before{
      display: table;
      content: " ";
  }
  .user .box .nav-stacked>li {
      border-bottom: 1px solid #f4f4f4;
      margin: 0;
  }
  
  
  .user .box .nav-stacked>li {
      border-bottom: 1px solid #f4f4f4;
      margin: 0;
  }
  .user .nav-stacked>li {
      float: none;
  }
  .user .nav>li {
      position: relative;
      display: block;
  }
  .user .nav-stacked>li{
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
  }
  .user .nav>li {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .bg-blue {
    background-color: #0073b7 !important;
    color: #fff !important;
  }
  .user .pull-right {
    float: right!important;
  }
  .user .badge {
    display: inline-block;
    min-width: 10px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
  }
  .user .bg-aqua {
    background-color: #fa3805 !important;
  }
  .user .bg-red{
    background-color: #fa3805 !important;
  }
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }