<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">
        </div>
        <div class="row">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-plus-circle"></i> Ajouter Categorie</h3>
                </div>
                <form [formGroup]="typePlatForm" (ngSubmit)="onSubmitForm()">
                    <div class="card-body">
                        <div class="input text">
                            <label>Nom</label>
                            <input type="text" id="name" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">Sauvegarder</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>