<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">

        </div>
        <div class="row">
            <div class="maincontent">
                <div class="ccc">
                    Reservations
                    <label for="stat"></label>
                    <select name="data[]" class="choix" id="stat">
                        <option value="">--Par Statuts--</option>
                        <option value="0">En cours</option>
                        <option value="1">Valider</option>
                    </select>
                    <label for="resto">
                    </label>
                    <select *ngFor="let restaurant of restaurants" name="data[]" class="choix" id="resto">
                        <option value="">--Par Restaurants--</option>
                        <option value="2">{{restaurant.nom}}</option>
                    </select> <label for=""></label><input name="data[]" class="date" placeholder="Par Date" type="text"
                        id="" />
                </div>
                <div class="limiter">

                    <div class="container-table100">
                        <div class="wrap-table100">
                            <table cellspacing="0" cellpadding="0" id="example1"
                                class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                                aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Nom</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">
                                            Restaurant</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Code
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Date &
                                            heure</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">Statut
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                            Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row100 body">
                                    <tr *ngFor="let reservation of reservations">
                                        <td>{{reservation.id}}</td>
                                        <td>{{reservation.user.nom}}</td>
                                        <td>{{reservation.restaurant.nom}}</td>
                                        <td>{{reservation.date}}</td>
                                        <td>{{reservation.status}}</td>
                                        <td style="text-align:center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Option
                                                    <i class="fas fa-angle-down"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" (click)="showReservation(reservation)"><i
                                                            class="fal fa-eye"></i> Voir</a>
                                                    <form action="/reservations/delete/1"
                                                        name="post_5f5950b5af755686812551"
                                                        id="post_5f5950b5af755686812551" style="display:none;"
                                                        method="post"><input type="hidden" name="_method"
                                                            value="POST" /></form><a
                                                        (click)="deleteReservation(reservation)"
                                                        class="far fa-trash-alt dropdown-item"> Supprimer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>