<div class="row" id="body-row">
    <div class="col-md-auto">
        <app-left-menu></app-left-menu>
    </div>

    <div class="col">
        <form [formGroup]="platForm" (ngSubmit)="onSubmitForm()" class="justify-content-center">

            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Nom
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="nom" formControlName="nom" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Date
                </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control input-sm" id="date" formControlName="date"
                        autocomplete="off">
                </div>
            </div>



            <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">
                    Restaurant
                </label>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select [(ngModel)]="prestatair" [ngModelOptions]="{standalone: true}">
                            <option value="">Choose your Restaurant</option>
                            <option *ngFor="let restaurant of restaurants">
                                {{restaurant.nom}}
                            </option>

                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
</div>