<div class="card" style="width: 30%;margin-left: 35%;margin-top: 4%;">
    <div class="card-body">
        <h5 class="card-title display-4.5" style="text-align: center;padding-bottom:3%;">Connectez-vous</h5>
        <p class="card-text blockquote-footer" style="text-align: center;padding-bottom:3%;">Bienvenue sur Kool-Admin,la console qui vous<br>
            permet de gérer votre application mobile Kool<br>
            permet de gérer votre application mobile Kool<br>
            en toute simplicité et efficacité
        </p>
        <div class="row">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()"  #f="ngForm" novalidate >
                <div class="form-group">
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" placeholder="username"/>
                
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password" placeholder="Password"
                  />
          
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>
           
              </form>
        </div>

        <p class="card-text blockquote-footer" style="text-align: center;">Cette console est destinée<br>
            Pour un usage strictement en interne<br>
        </p>
    </div>
</div>
<app-footer></app-footer>