<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">

        </div>
        <div class="row">
            <div class="maincontent">
                <div class="ccc">
                    Reservations
                    <label for="stat"></label>
                    <select name="data[]" class="choix" id="stat">
                        <option value="">--Par Statuts--</option>
                        <option value="0">En cours</option>
                        <option value="1">Valider</option>
                    </select>
                    <label for="resto">
                    </label>
                    <select *ngFor="let restaurant of restaurants" name="data[]" class="choix" id="resto">
                        <option value="">--Par Restaurants--</option>
                        <option value="2">{{restaurant.nom}}</option>
                    </select> <label for=""></label><input name="data[]" class="date" placeholder="Par Date" type="text"
                        id="" />
                </div>

            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>