/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .credit {
    margin: 20px 0;
  }