<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">
        </div>
        <div class="row">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title"><i class='fa fa-plus-circle'></i> Ajouter Prestataire</h3>
                </div>
                <form [formGroup]="prestataireForm" (ngSubmit)="onSubmitForm()">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="PrestataireName">Nom</label>
                            <input type="text" id="name" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="PrestataireResponsable">Responsable</label>
                            <input type="text" id="responsible" class="form-control" formControlName="responsable">
                        </div>
                        <div class="input tel">
                            <label for="PrestataireTelephone">Téléphone</label>
                            <input type="text" id="telephone" class="form-control" formControlName="telephone">
                        </div>
                        <div class="input text">
                            <label for="PrestataireMail">Mail</label>
                            <input type="email" id="mail" class="form-control" formControlName="mail">
                        </div>
                        <div class="input text">
                            <label for="PrestataireAdresse">Adresse</label>
                            <input type="text" id="adresse" class="form-control" formControlName="adresse">
                        </div>
                        <div class="input textarea">
                            <label for="PrestataireDescription">Description</label>
                            <textarea class="form-control" cols="30" rows="6" formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button class="btn btn-info" type="submit">Sauvegarder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>