<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">
        </div>
        <div class="row">
            <div class="col-8">
                <h3 class="title">Prestataires</h3>
            </div>
            <div class="col-4">
                <div class="ccc">
                    <a [routerLink]="['/addPrestataire']" class="fa fa-plus btn btn-success btncree"
                        style="float:right">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <table cellspacing="0" cellpadding="0" id="example1"
                            class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                            aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Nom</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Responsable</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Téléphone</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Mail</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Adresse</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Description</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prestataire of prestataires" class="row100 body">
                                    <td>{{prestataire.id}}</td>
                                    <td>{{prestataire.name}}</td>
                                    <td>{{prestataire.responsable}}</td>
                                    <td>{{prestataire.telephone}}</td>
                                    <td>{{prestataire.mail}}</td>
                                    <td>{{prestataire.adresse}}</td>
                                    <td>{{prestataire.description}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Option
                                                <i class="fas fa-angle-down"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="showPrestaire(prestataire)"><i
                                                        class="fal fa-eye"></i> Voir</a>
                                                <a class="dropdown-item" (click)="editPrestataire(prestataire)"><i
                                                        class="fal fa-pen"></i> Editer</a>
                                                <a class="dropdown-item" (click)="deletePrestaire(prestataire)"><i
                                                        class="fal fa-pen"></i> Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearer"></div>
    </div>
</div>