<div class="bg-light" id="body">
    <div role="main" class="container">
        <div class="page-wrapper">
            <div class="sidebar">
                <div class="logo"><a href="#"><img src="../../../assets/logoblank.png" alt="" /></a></div>
                <div class="menu">
                    <nav id="sidebar">
                        <ul class="list-unstyled components">

                            <li><a href="#" class="active">Accueil</a></li>
                            <li><a href="../reservations/index.html">Gestion des réservations</a></li>
                            <li><a href="../menus/index.html">Gestion des menus</a></li>
                            <li><a [routerLink]="['/plat']">Gestion des plats</a></li>
                            <li><a href="../rooms/index.html">Gestion des thématiques</a></li>
                            <li>
                                <a href="#parametrage" data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle">Paramétrage <i class="fas fa-angle-down"></i></a>
                                <ul class="collapse list-unstyled" id="parametrage">
                                    <li><a [routerLink]="['/prestataire']">Prestataires</a></li>
                                    <li><a href="../restaurants/index.html">Restaurants</a></li>
                                    <li><a [routerLink]="['/typePlat']">Catégorie des plats</a></li>
                                    <li><a [routerLink]="['/portion']">Liste des Portions</a></li>
                                    <li><a href="../gammes/index.html">Gamme des plats </a></li>
                                    <li><a [routerLink]="['/nutrition']">Liste des Nutriments </a></li>
                                    <li><a [routerLink]="['/allergene']">Liste des Allergènes </a></li>
                                    <li><a [routerLink]="['/theme']">Liste des thémes </a></li>
                                </ul>
                            </li>
                            <li><a href="../users">Gestion des utilisateurs</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>