/* You can add global styles to this file, and also import other style files */
 /* start style amine */
 html,
 body {
   overflow-x: hidden; /* Prevent scroll on narrow devices */
 }
 
 body {
   padding-top: 25px;
 }
   /* end style amine */
   body{
    margin: 0;
    padding: 0;
}