<div class="row">
    <div class="col-3">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-9">
        <div class="row" style="width: 100px;height: 100px;">

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 onclick="goback()"><i class="fas fa-arrow-alt-left"></i> Reservation/Détail reservation</h3>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <h2>Client</h2>
                    <table cellspacing="0" cellpadding="0" id="example1"
                        class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Nom & prenom</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Matricule</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1"><a href="../users/view.html">client.nom <br>client.prenom
                                    </a></td>
                                <td class="cell100 column3">client.matricule</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <h2>Reservation</h2>
                    <table cellspacing="0" cellpadding="0" id="example1"
                        class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Restaurant</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Code</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Etat</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Date de reservation</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Date d'ajout</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1"><a
                                        href="../restaurants/view.html">reservation.restaurant.nom</a></td>
                                <td class="cell100 column2">reservation.code</td>
                                <td class="cell100 column3">
                                </td>
                                <td class="cell100 column2">reservation.date</td>
                                <td class="cell100 column3">reservation.created</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <h2>Les plats réservés</h2>
                    <table cellspacing="0" cellpadding="0" id="example1"
                        class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Catégorie</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Prestataire</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Nom</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending">Calorie</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reservation of reservations">
                                <td>{{reservation.plat.categorie}}</td>
                                <td>{{reservation.plat.prestataire.nom}}</td>
                                <td>{{reservation.plat.nom}}</td>
                                <td>{{reservation.plat.calorie}}</td>
                                <td>{{reservation.plat.image}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>